body { background: #d81443; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 17px; display: flex; }
.block-search-0 { color: #7f4f; font-size: 17px; margin-bottom: 5px; }
.block-config-1 { color: #654536; font-size: 18px; margin-bottom: 5px; }
.block-uploader-2 { color: #d96eb2; font-size: 16px; margin-bottom: 5px; }
.block-uploader-3 { color: #b26c4d; font-size: 15px; margin-bottom: 5px; }
.block-cart-4 { color: #9edf53; font-size: 17px; margin-bottom: 5px; }
.block-uploader-5 { color: #fd0696; font-size: 19px; margin-bottom: 5px; }
.block-search-6 { color: #c8f838; font-size: 20px; margin-bottom: 5px; }